In [1]:
import json
import pandas as pd

In [2]:
file = open('station_status.json')
file_dict = json.load(file)
del file_dict['lastUpdatedOther']
del file_dict['ttl']

In [3]:
file_dict_clean = file_dict['data']['stations']

In [4]:
test = data_2 = pd.json_normalize(file_dict_clean)

In [5]:
test

,stationCode,station_id,num_bikes_available,numBikesAvailable,num_bikes_available_types,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported
0,16107,213688169,5,5,"[{'mechanical': 2}, {'ebike': 3}]",29,29,1,1,1,1638697430
1,11104,516709288,1,1,"[{'mechanical': 0}, {'ebike': 1}]",18,18,1,1,1,1638697482
2,9020,36255,3,3,"[{'mechanical': 1}, {'ebike': 2}]",17,17,1,1,1,1638697453
3,12109,37815204,22,22,"[{'mechanical': 18}, {'ebike': 4}]",7,7,1,1,1,1638697678
4,5001,100769544,23,23,"[{'mechanical': 20}, {'ebike': 3}]",21,21,1,1,1,1638697770
...,...,...,...,...,...,...,...,...,...,...,...
1441,34012,11437706131,0,0,"[{'mechanical': 0}, {'ebike': 0}]",26,26,0,0,0,1637147751
1442,31303,13373848216,0,0,"[{'mechanical': 0}, {'ebike': 0}]",28,28,0,0,0,1558941537
1443,21514,13373712848,0,0,"[{'mechanical': 0}, {'ebike': 0}]",1,1,0,0,0,1638694586
1444,31301,13373801574,0,0,"[{'mechanical': 0}, {'ebike': 0}]",0,0,0,0,0,1634892730
1445,23204,13373758036,0,0,"[{'mechanical': 0}, {'ebike': 0}]",0,0,0,0,0,1634892200

In [6]:
test.describe()

,station_id,num_bikes_available,numBikesAvailable,num_docks_available,numDocksAvailable,is_installed,is_returning,is_renting,last_reported
count,1.446000e+03,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1446.000000,1.446000e+03
mean,6.882655e+08,11.602351,11.602351,17.530429,17.530429,0.986169,0.970263,0.970263,1.638079e+09
std,1.967217e+09,10.854698,10.854698,11.816596,11.816596,0.116831,0.169920,0.169920,5.480990e+06
min,6.245000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.558078e+09
25%,5.400063e+07,4.000000,4.000000,8.000000,8.000000,1.000000,1.000000,1.000000,1.638698e+09
50%,1.291071e+08,8.000000,8.000000,16.000000,16.000000,1.000000,1.000000,1.000000,1.638698e+09
75%,5.866220e+08,17.000000,17.000000,24.000000,24.000000,1.000000,1.000000,1.000000,1.638698e+09
max,1.356887e+10,63.000000,63.000000,67.000000,67.000000,1.000000,1.000000,1.000000,1.638698e+09